@import "tailwindcss";

:root {
  --background: #fefcfe	;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-house-minimalist), sans-serif;
}

p {
  font-family: var(--font-nunito), sans-serif;
}

h1 {
  font-family: var(--font-house-minimalist), sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@media (max-width: 639px) {
  h1 {
    font-weight: 700;
  }
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-house-minimalist), sans-serif;
  letter-spacing: 0.1em;
  font-weight: 600;
}
